@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,500italic,400italic,300italic,100italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@function type-scale($level: 0) {
  $scale-factor: 1.25;
  @return pow($scale-factor, $level) + rem;
}

@mixin background-gradient($base-color: #131313, $scale-lightness: 0) {
  // Inspired by http://lea.verou.me/css3patterns/#carbon

  $base: scale-color($base-color, $lightness: percentage($scale-lightness));

  background:
    linear-gradient(27deg, $base 0.3125rem, transparent 0.3125rem) 0 0.3125rem,
    linear-gradient(207deg, $base 0.3125rem, transparent 0.3125rem) 0.625rem 0,
    linear-gradient(27deg, scale-color($base, $lightness: 5%) 0.3125rem, transparent 0.3125rem) 0 0.625rem,
    linear-gradient(207deg, scale-color($base, $lightness: 5%) 0.3125rem, transparent 0.3125rem) 0.625rem 0.3125rem,
    linear-gradient(90deg, scale-color($base, $lightness: 3%) 0.625rem, transparent 0.625rem),
    linear-gradient(scale-color($base, $lightness: 3%) 25%, scale-color($base, $lightness: 2%) 25%, scale-color($base, $lightness: 2%) 50%, transparent 50%, transparent 75%, scale-color($base, $lightness: 6%) 75%, scale-color($base, $lightness: 6%));
  background-color: scale-color($base, $lightness: -3%);
  background-size: 1.25rem 1.25rem;
}    

html {
  background: linear-gradient(to left, #8e9eab , #efeff0);
  font-size: 1vw;
  font-family: 'Roboto';
  font-weight: 300;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed';
  font-weight: 100;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: type-scale(5);
}

h2 {
  font-size: type-scale(3);
}

h3 {
  font-size: type-scale(2);
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0 0.25rem 2rem 0 rgba(0, 0, 0, 0.3);
}

.section {
  padding: 2rem;

  h2:first-of-type {
    margin-top: 0;
  }

  h3:first-of-type {
    margin-top: 0;
  }
}

.row {
  display: flex;
}

$num-cols: 9;

.col {
  flex: 1 1 10%;
  min-height: 10vw;
}

@for $i from 2 through $num-cols {
  .col.col-#{$i} {
    flex: $i $i percentage($i/10);
  }
}

.col.col-f {
  flex: (9/4) (9/4) percentage(9/4/10);
}

.avatar {
  background: #fff;
  background-image: url(http://asadchohan.com/img/asad-imtiaz.jpg);
  background-size: cover;
//  filter: blur(10px);
  transform: scale(1);
}

.name, .subtitle {
  display: flex;
  align-items: center;

  h1, h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.download, .github {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2f2f;
  @include background-gradient($scale-lightness: 0.1);

  svg {
    fill: #848484;
    transition: transform 150ms ease-in-out;
    transform: scale(1);

    &:hover {
      transform: scale(1.25);
      transition: transform 150ms ease-in-out;
      z-index: 2;
    }
  }
}

.name {
  @include background-gradient($scale-lightness: 0.2);
  color: #efefef;
}

.subtitle {
  @include background-gradient($scale-lightness: 0.1);
  color: #efefef;
}

.github {
  @include background-gradient($scale-lightness: 0);
  color: #fff;
}

.wrap-icon {
  width: 4rem;
  // height: 100%;
}

.toc {
  .wrap-icon {
    width: 2.5rem;
    height: 100%;
    margin: 1rem;
  }

  svg {
    fill: #fff;
  }
}

.toc .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 100ms ease-in-out;
  transform: scale(1);

  svg {
    transform: scale(1);
    transition: transform 100ms ease-in-out;
  }

  &:hover {
    transform: scale(1.1);
    transition: transform 100ms ease-in-out;
    z-index: 2;

    svg {
      transform: scale(1.3);
      transition: transform 100ms ease-in-out;
    }
  }

  &:after {
    content: attr(data-title);
    color: #fff;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  &[data-title="home"] {
    background-color: #00bd9c;
  }

  &[data-title="linkedin"] {
    background-color: #4875B4;
  }

  &[data-title="portfolio"] {
    background-color: #9c56b8;
  }

  &[data-title="contacts"] {
    background-color: #e87e03;
  }

  &[data-title="codepen"] {
    background-color: #e94b35;
  }

  &[data-title="blog"] {
    background-color: #daa900;
  }
}

.about-me {
  background: #fff;

  blockquote {
    border-left: 0.25rem solid #e94b35;
    padding-left: 1rem;
    margin-left: 0;

    .lede {
      color: #e94b35;
      font-weight: 500;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
    }
  }

  .soft-skills {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;

    .skill {
      display: flex;
      align-items: top;
      justify-content: center;
      flex-direction: row-reverse;
      width: 30%;

      h3 {
        font-weight: 700;
        margin: 0;
      }
    }

    .wrap-icon {
      margin: 0;
      margin-right: 1rem;
      width: 3rem;
    }
  }
}

.soft-skills .skill {
  &:hover .wrap-icon {
    transform: scale(1);
    fill: #e94b35;
    transition: all 200ms ease;
  }
}

.soft-skills .skill .wrap-icon {
  transform: scale(0.8);
  fill: scale-color(#131313, $lightness: 60%);
  transition: all 200ms ease;
}

.the-experienced-roles {
  display: none;
  visibility: hidden;
}

.personal-info {
  background-color: scale-color(#131313, $lightness: 95%);

  display: flex;
  flex: 1;
  flex-direction: column;

  .info-lines {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .info-line {
    margin-bottom: 1rem;

    dt, dd {
      display: inline-block;
      margin: 0;
    }

    dt {
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 0.5rem;
    }
  }
}

.experience {
  background-color: #9c56b8;
  color: #fff;
}

.jobs, .job-lines {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.jobs .job {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;

  &:before {
    text-transform: none;
    font-weight: 100;
    display: block;
    opacity: 0.6;
    content: attr(data-start-date) ' – ' attr(data-end-date)
  }

  &:after {
    text-transform: none;
    font-weight: 100;
    display: block;
    opacity: 0.6;
    content: attr(data-job-title)
  }
}

.professional-skills {
  background-color: #2c97de;
  color: #fff;

  .skills {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .skill-title {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }
}

.professional-skills:hover {
  .outer {
    animation: dash 1s ease-in-out forwards;
  }
}

.professional-skills .skill {
  display: flex;
  flex-direction: column;
  max-width: 25%;

  .pie-wrap {
  }

  .pie {
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    position: static;
    width: 7rem;
    height: 7rem;
    transform: rotate(-90deg);
    background: transparent;
    border-radius: 50%;
  }

  circle {
    fill: #fff;
    fill-opacity: 0.2;
    stroke: #fff;
    stroke-width: 32;
  }

  .outer {
    animation: dash 1s ease-in-out forwards;
  }

  .innerCircle {
    fill: #2c97de;
    stroke-width: 0;
    stroke: #2c97de;
    fill-opacity: 1;
  }
}

@keyframes dash {
  from {
    stroke-dasharray: 0 100;
  }

  to {
    stroke-dasharray: auto 100;
  }
}

.footer {
  background-color: scale-color(#131313, $lightness: 20%);
  color: scale-color(#131313, $lightness: 60%);

  .footer-name {

  }

  .cv, .social {
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
    }
  }

  .subscribe .input {
    padding: 0.5rem;
    background: transparent;
    border: 2px solid scale-color(#131313, $lightness: 60%);
    color: scale-color(#131313, $lightness: 60%);
    width: 100%;

    &:focus {
      outline: 0;
    }
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;

  .social-icon {
    border-radius: 0.125rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: scale-color(#131313, $lightness: 60%);
  }
}

.typed-cursor {
    font-size: 1.5625rem;
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
